.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px;
    background-color: #f9f9f9; /* Background color */
  }
  
  .latestText {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 100px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  iframe {
    width: 100%;
    max-width: 800px; /* Set a max width to keep the video responsive */
    height: 450px; /* Adjust height for better aspect ratio */
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Slight shadow for a floating effect */
    border-radius: 8px; /* Rounded corners */
  }
  