.carousel {
  position: relative;
  width: 100vw;
  height: 100vh; /* Set the desired height for the carousel */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent overflow issues */
}

.carouselImage {
  width: 100vw;
  height: 100%; /* Set the desired height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.carouselSlide {
  width: 100vw;
  height: 100vh; /* Match height to the carousel */
  position: relative;
}

.carouselOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;

}

.carouselDescription {
  max-width: 500px;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  text-align: left;
  margin-bottom: 10px;
}

.carouselAuthor {
  font-size: 1rem;
  color: rgb(244, 241, 241);
  text-align: left;
  z-index: 10;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .carouselImage {
    height: 60vh; /* Adjust image height on smaller screens */
  }

  .carouselDescription {
    font-size: 1rem;
    max-width: 80%;
  }

  .carouselAuthor {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .carouselImage {
    height: 50vh; /* Further reduce image height for mobile screens */
  }

  .carouselDescription {
    font-size: 0.9rem;
    padding: 5px;
  }

  .carouselAuthor {
    font-size: 0.8rem;
  }
}
