/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

  body, html {
    margin: 0;
    padding: 0;
   
  }

  html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
/*   
  .container {
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
  }
   */