/* src/styles/variables.css */

:root {
    --background-color: #f0f0f0;
    --text-color: #333333;
    --secondary-text-color: #848484;
    --primary-color: #1a73e8;
    --secondary-color: #041B32;
    --font-family:  font-family: "Lato", sans-serif;
    --accent-color: #EAEAEA;
    
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
  
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  