.homeWrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: var(--background-color);
}

.home {
   flex: 1;
   width: min(100%, 1200px);
   margin: 0 auto;
}

@media (max-width: 768px) {
  .homeWrapper {
    gap: 20px;
  }
}
