.aboutMe {
  max-width: 1200px;
  margin: 30px auto;
  border-radius: 8px;
  background: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-weight: 300;
  font-family: inherit;
  font-size: clamp(1rem, 2.5vw, 1.1rem);
  letter-spacing: 1px;
  color: var(--text-color);
}
.aboutMeContent {
  padding: clamp(16px, 4vw, 20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
}

.profileImage {
  width: 100%;
  max-width: fit-content;
  height: auto;
  display: block;
  border-radius: 8px  8px 0 0;
}

.aboutMe img {
  color: var(--background-color);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  
}

.aboutMe h1 {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: #4689e1;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

.titleDot {
  font-size: clamp(1.3rem, 4vw, 1.8rem);
  color: #bf1104;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

.aboutMe p {
  font-size: clamp(1.2rem, 2.5vw, 1.1rem);
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Media Queries for different screen sizes */
@media (max-width: 768px) {
  .aboutMe {
      margin: 10px auto;
      box-shadow: none;
      font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .aboutMe {
      padding: 12px;
      font-size: 0.7rem;
  }
}
