/* src/pages/AboutMe.module.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.aboutMe {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .aboutMe h1 {
    font-size: 2rem;
    color: #1a73e8;
    margin-bottom: 20px;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  }
  .titleDot {
    font-size: 1.8rem;
    color: #bf1104;
    margin-bottom: 20px;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-optical-sizing: auto;
}

  
  .aboutMe p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: 100;
  }
  